* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  width: 100%;
  height: 90px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 999;
}
.navigation .container {
  width: 85%;
  height: 100%;
}
.navigation .container .row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .container .row img {
  width: 10%;
}
.navigation .container .row #toggle {
  display: none;
}
.navigation .container .row .togglearea {
  background-color: #6d6a6a;
  display: none;
}
.navigation .container .row .togglearea .menu-items {
  margin-top: 10px;
  margin-right: 10px;
}
.navigation .container .row .togglearea .menu-items .menu-item {
  width: 54px;
  height: 7px;
  background-color: blue;
  margin-bottom: 10px;
}
.navigation .container .row .navbar {
  background-color: white;
  display: flex;
  justify-content: flex-end;
}
.navigation .container .row .navbar a {
  color: #5c5c5c;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 28px;
}
.navigation .container .row .navbar a:hover {
  background-color: white;
  color: #0051ff;
}

.contents {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
  background-color: #d3d3d3;
}
.contents .content {
  width: 100%;
  height: 400px;
  margin-top: 10px;
}
.contents .container {
  width: 85%;
}
.contents #section-home {
  position: relative;
  height: 800px;
}
.contents #section-home img {
  width: 100%;
  height: 100%;
}
.contents #section-home h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}
.contents #section-home a {
  position: absolute;
  bottom: 250px;
  right: 670px;
  background-color: #4d39a3;
  color: white;
  border-radius: 15px;
  padding: 10px 35px;
  cursor: pointer;
}
.contents #section-service {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contents #section-service article {
  width: 660px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.contents #section-service article .servicechild {
  width: 300px;
  height: 250px;
  background-color: azure;
  margin: 10px;
}
.contents #section-service .youtube {
  width: 620px;
  height: 500px;
  background-color: #5a5bc2;
}
.contents #section-topdetails {
  background-color: #c73905;
}
.contents #section-gallery {
  background-color: #e43f04;
}
.contents #section-package {
  background-color: orangered;
}
.contents #violett {
  background-color: #5a5bc2;
}
.contents #section-blog {
  background-color: #f36e3d;
}
.contents #section-contact {
  background-color: #f7b39a;
}
.contents #footer {
  background-color: #251569;
}

@media screen and (max-width: 768px) {
  .navigation .container .row {
    position: relative;
  }
  .navigation .container .row img {
    width: 40%;
  }
  .navigation .container .row #toggle:checked + .navbar {
    display: flex;
    align-items: flex-start;
  }
  .navigation .container .row .togglearea {
    background-color: white;
    display: flex;
    justify-content: flex-end;
  }
  .navigation .container .row .navbar {
    width: 300px;
    position: absolute;
    top: 100px;
    flex-direction: column;
    display: none;
    background-color: #251569;
    margin: 10px;
  }
  .navigation .container .row .navbar a {
    color: white;
  }
  .navigation .container .row .navbar a:hover {
    background-color: #251569;
    color: #008cff;
  }
  .contents {
    width: 100%;
    height: auto;
  }
  .contents .content {
    width: 100%;
  }
  .contents #section-home {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
  }
  .contents #section-home h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
  }
  .contents #section-home a {
    position: absolute;
    bottom: 40px;
    right: 100px;
    background-color: #4d39a3;
    color: white;
    border-radius: 15px;
    padding: 10px 35px;
    cursor: pointer;
  }
  .contents #section-service {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
  }
  .contents article {
    width: 100%;
  }
  .contents .youtube {
    width: 100%;
    height: 500px;
  }
}/*# sourceMappingURL=index.css.map */