*{
  background-color: wheat;
}
.allSlides{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#prev, #next {
  border: none;
  cursor: pointer;
}
img{
  border-radius: 30px;
}