.main {
    width: 700px;
    height: 500px;
    background-color: #EBEBF3;
    position: relative;
}

.a {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #F161A3;
    position: absolute;
    top: 20px;
    left: 120px;
}

form {
    width: 220px;
    height: 250px;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 250px;
    padding: 30px;
    border-radius: 5%;
    z-index: 999;
}

#button {
    background-color: #e28343;
    color: #EBEBF3;
}

.divforform {
    margin: 10px;
}

.c {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #FA7C64;
    position: absolute;
    bottom: 20px;
    right: 100px;
}