table{ 
    border-collapse: collapse;
}

table th {
    background-color:#6f9c3d;
}

table th{
    border: 2px solid #a9e781 ; 
    text-align:center;

}

table th {
     color :#a9e781;
    }

table td {
    background-color:#f8720c;
 }

table td{
    border: 2px solid #ffc498; 
    text-align:center;
}

table td{
    color:#ffc498;
}