.mainDiv {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    cursor: pointer;
    text-align: center;
    background-color: #c20505;
    border: 5px solid #f5f5f5;
    color: #f5e4d1;
    border-radius: 50%;
    padding: 60px 25px;
    margin-right: 10px;
  
}

#btn2 {
    cursor: pointer;
    text-align: center;
    background-color: #6705c2;
    border: 5px solid #f5f5f5;
    color: #f5e4d1;
    border-radius: 50%;
    padding: 50px 35px;
    margin-right: 10px;
  
}

p {
    cursor: pointer;
    text-align: center;
    background-color: #05c27a;
    border: 5px solid #f5f5f5;
    color: #f5e4d1;
    border-radius: 50%;
    padding: 40px 20px;
}
.btn3 {
    cursor: pointer;
    text-align: center;
    background-color: #855c05;
    border: 5px solid #f5f5f5;
    color: #ffffff;
    border-radius: 50%;
    padding: 60px 25px;
    margin-right: 10px;
  
}