* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.maindiv {
    width: 100%;
    height: 4500px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 0px;
    left: 0px;

}

.navbar {
    width: 100%;
    height: 94px;
    background-color: #155bd5;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    display: flex;
}

li a {
    font-size: 25px;
    padding: 12px 16px;
    background-color: #155bd5;
    color: white;
    text-decoration: none;
}

.12 {
    width: 185px;
    height: 40px;
    margin: 20px 80px;
}

.body1 {
    width: 100%;
    height: 850px;
    background-color: #155bd5;
    display: flex;
    padding-top: 94px;
    justify-content: center;
    align-items: center;
}

.body2 {
    width: 80%;
    height: 700px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body3 {
    width: 80%;
    height: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body1words {
    width: 546px;
    height: 436.8px;
    background-color: #155bd5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body1picture {
    width: 546px;
    height: 436.8px;
    background-color: #5b8adb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.girl {
    width: 546px;
    height: 436.8px;
    border-radius: 10px;
}

h1 {
    color: white;
    font-size: 45px;
    margin: 20px;
}

p {
    color: #adb7c4;
}

.body1words div {
    width: 600px;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 20px;

}

.body1words div a {
    background-color: white;
    color: #155bd5;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    font-family: lato;
    margin: 10px;
}

.body1words span {
    color: white;
    font-size: 35px;
}

.body1words div {
    margin: 10px;
}

.menu {
    width: 35px;
    height: 35px;
}

.body2picture {
    width: 576px;
    height: 562.362px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 20px;
}

.body2words {
    width: 576px;
    height: 562.362px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px;
}

.body3head {
    width: 526px;
    height: 159.700px;
    background-color: #5b8adb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}

.body3body {
    width: 1000px;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.ourbestservices {
    width: 300px;
    height: 250px;
    background-color: #5b8adb;
}

.body2words1 {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    background-color: #e4e4e6;
    border-radius: 5px;
}

h6 {
    font-size: 15px;

}

.buttonblue {
    background-color: #155bd5;
    color: white;
    width: 100px;
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

.buttonwhite {
    background-color: white;
    width: 100px;
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}
.body2words p {color: #4e4e4e;}
.buttonwhite:hover {
    color: #155bd5;
} 