$color_1: white;
$background-color_1: white;

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.navbar {
	width: 100%;
	height: 99.5px;
	background: linear-gradient(to right, #00085c, #0b0d21);
	position: fixed;
	display: flex;
	justify-content: center;
	z-index: 999;
	.navcontainer {
		width: 80%;
		height: 99.5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		.navleft {
			width: 738.59px;
			height: 98.5px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			li {
				list-style-type: none;
				float: left;
				padding: 15px;
			}
			a {
				text-decoration: none;
				color: $color_1;
				&::after {
					content: "";
					display: block;
					width: 0;
					height: 3px;
				}
				&:hover {
					&::after {
						background-color: $background-color_1;
						display: block;
						width: 100%;
						height: 3px;
						transition: 0.7s;
					}
				}
			}
			img {
				cursor: pointer;
			}
		}
		.navright {
			width: 170.95px;
			height: 49.7px;
			border: 2px solid white;
			border-radius: 50px;
			color: $color_1;
			font-size: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}
}
.ourservices {
	width: 100%;
	height: 770px;
	background: linear-gradient(to right, #00085c, #0b0d21);
	display: flex;
	align-items: center;
	justify-content: center;
	.ourservicescontainer {
		width: 80%;
		height: 700px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 999px;
		position: relative;
		margin-top: 50px;
		img {
			width: 880px;
			position: absolute;
			top: 200px;
			right: 30px;
		}
		.bodywords {
			display: flex;
			flex-direction: column;
			color: $color_1;
			margin: 10px;
			width: 470px;
			height: 315.4px;
			position: absolute;
			top: 200px;
			h1 {
				font-size: 60px;
			}
			p {
				font-size: 20px;
				margin-top: 20px;
			}
			a {
				width: 155px;
				height: 53px;
				font-size: 18px;
				margin-top: 50px;
				border-radius: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				background: linear-gradient(#fe4595, #fe6c6d);
			}
		}
	}
}