* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 99.5px;
  background: linear-gradient(to right, #00085c, #0b0d21);
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 999;
}
.navbar .navcontainer {
  width: 80%;
  height: 99.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.navbar .navcontainer .navleft {
  width: 738.59px;
  height: 98.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navcontainer .navleft li {
  list-style-type: none;
  float: left;
  padding: 15px;
}
.navbar .navcontainer .navleft a {
  text-decoration: none;
  color: white;
}
.navbar .navcontainer .navleft a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
}
.navbar .navcontainer .navleft a:hover::after {
  background-color: white;
  display: block;
  width: 100%;
  height: 3px;
  transition: 0.7s;
}
.navbar .navcontainer .navleft img {
  cursor: pointer;
}
.navbar .navcontainer .navright {
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 26px;
  overflow: hidden;
  font-size: 14px;
  font-family: "Tahoma", sans-serif;
  padding: 13px 26px;
  cursor: pointer;
  position: relative;
}
.navbar .navcontainer .navright:hover {
  color: #e64a7b;
  transition: color 0.4s linear;
}
.navbar .navcontainer .navright:hover::before {
  transform: scaleY(1);
}
.navbar .navcontainer .navright::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleY(0);
}

.ourservices {
  width: 100%;
  height: 770px;
  background: linear-gradient(to right, #00085c, #0b0d21);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourservices .ourservicescontainer {
  width: 80%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999px;
  position: relative;
  margin-top: 50px;
}
.ourservices .ourservicescontainer img {
  width: 880px;
  position: absolute;
  top: 200px;
  right: 30px;
}
.ourservices .ourservicescontainer .bodywords {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 10px;
  width: 470px;
  height: 315.4px;
  position: absolute;
  top: 200px;
}
.ourservices .ourservicescontainer .bodywords h1 {
  font-size: 60px;
}
.ourservices .ourservicescontainer .bodywords p {
  font-size: 20px;
  margin-top: 20px;
}
.ourservices .ourservicescontainer .bodywords button {
  margin-top: 30px;
  width: 40%;
  background: linear-gradient(#fe4595, #fe6c6d);
  color: white;
  border-radius: 30px;
  overflow: hidden;
  font-size: 14px;
  font-family: "Tahoma", sans-serif;
  padding: 15px 18px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border: none;
}
.ourservices .ourservicescontainer .bodywords button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#fe6c6d, #fe4595);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleY(0);
}
.ourservices .ourservicescontainer .bodywords button:hover::before {
  transform: scaleY(1);
}/*# sourceMappingURL=index.css.map */