$color_1: white;
$color_2: #e64a7b;
$font-family_1: "Tahoma", sans-serif;
$background-color_1: white;

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.navbar {
	width: 100%;
	height: 99.5px;
	background: linear-gradient(to right, #00085c, #0b0d21);
	position: fixed;
	display: flex;
	justify-content: center;
	z-index: 999;
	.navcontainer {
		width: 80%;
		height: 99.5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		.navleft {
			width: 738.59px;
			height: 98.5px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			li {
				list-style-type: none;
				float: left;
				padding: 15px;
			}
			a {
				text-decoration: none;
				color: $color_1;
				&::after {
					content: "";
					display: block;
					width: 0;
					height: 3px;
				}
				&:hover {
					&::after {
						background-color: $background-color_1;
						display: block;
						width: 100%;
						height: 3px;
						transition: 0.7s;
					}
				}
			}
			img {
				cursor: pointer;
			}
		}
		.navright {
			background: none;
			color: $color_1;
			border: 2px solid white;
			border-radius: 26px;
			overflow: hidden;
			font-size: 14px;
			font-family: $font-family_1;
			padding: 13px 26px;
			cursor: pointer;
			position: relative;
			&:hover {
				color: $color_2;
				transition: color 0.4s linear;
				&::before {
					transform: scaleY(1);
				}
			}
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: white;
				z-index: -1;
				transition: transform 0.5s;
				transform-origin: 0 0;
				transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
				transform: scaleY(0);
			}
		}
	}
}
.ourservices {
	width: 100%;
	height: 770px;
	background: linear-gradient(to right, #00085c, #0b0d21);
	display: flex;
	align-items: center;
	justify-content: center;
	.ourservicescontainer {
		width: 80%;
		height: 700px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 999px;
		position: relative;
		margin-top: 50px;
		img {
			width: 880px;
			position: absolute;
			top: 200px;
			right: 30px;
		}
		.bodywords {
			display: flex;
			flex-direction: column;
			color: $color_1;
			margin: 10px;
			width: 470px;
			height: 315.4px;
			position: absolute;
			top: 200px;
			h1 {
				font-size: 60px;
			}
			p {
				font-size: 20px;
				margin-top: 20px;
			}
			button {
				margin-top: 30px;
				width: 40%;
				background: linear-gradient(#fe4595, #fe6c6d);
				color: $color_1;
				border-radius: 30px;
				overflow: hidden;
				font-size: 14px;
				font-family: $font-family_1;
				padding: 15px 18px;
				cursor: pointer;
				position: relative;
				z-index: 1;
				border: none;
				&::before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(#fe6c6d, #fe4595);
					z-index: -1;
					transition: transform 0.5s;
					transform-origin: 0 0;
					transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
					transform: scaleY(0);
				}
				&:hover {
					&::before {
						transform: scaleY(1);
					}
				}
			}
		}
	}
}